<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AzureOpenAI</key>
	<dict>
		<key>BaseEndpoint</key>
		<string>https://YOUR_RESOURCE_NAME.cognitiveservices.azure.com</string>
		<key>APIKey</key>
		<string>YOUR_AZURE_API_KEY_HERE</string>
		<key>Whisper</key>
		<dict>
			<key>DeploymentName</key>
			<string>whisper</string>
			<key>APIVersion</key>
			<string>2024-06-01</string>
		</dict>
		<key>GPT</key>
		<dict>
			<key>DeploymentName</key>
			<string>gpt-5-mini</string>
			<key>APIVersion</key>
			<string>2025-04-01-preview</string>
		</dict>
	</dict>
</dict>
</plist>
